<div id="lateralbar">
    <form class="search">
        <input type="text" placeholder="Search ..." />
    </form>
    <section class="menus">
        <div class="menu">
             <a href="<%- hr.urls.route("install") %>"><h3>Installation</h3></a>
        </div>
        <div class="menu">
             <a href="<%- hr.urls.route("getstarted") %>"><h3>Get started</h3></a>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("build") %>"><h3>Build system</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("build/structure") %>">Structure</a></li>
                <li><a href="<%- hr.urls.route("build/application") %>">Defining the application</a></li>
                <li><a href="<%- hr.urls.route("build/run") %>">Run the build</a></li>
                <li><a href="<%- hr.urls.route("build/module") %>">Modularity</a></li>
                <li><a href="<%- hr.urls.route("build/args") %>">Args and revisions</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("application") %>"><h3>Application</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("application/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("application/run") %>">run</a></li>
                <li><a href="<%- hr.urls.route("application/title") %>">title</a></li>
                <li><a href="<%- hr.urls.route("application/head") %>">head</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("view") %>"><h3>View</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("view/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("view/template") %>">template</a></li>
                <li><a href="<%- hr.urls.route("view/render") %>">render</a></li>
                <li><a href="<%- hr.urls.route("view/events") %>">events</a></li>
                <li><a href="<%- hr.urls.route("view/components") %>">components</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("template") %>"><h3>Templating</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("template/syntax") %>">Syntax</a></li>
                <li><a href="<%- hr.urls.route("template/components") %>">Components</a></li>
                <li><a href="<%- hr.urls.route("template/load") %>">Loading</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("class") %>"><h3>Class</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("class/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("class/initialize") %>">initialize</a></li>
                <li><a href="<%- hr.urls.route("class/defaults") %>">defaults</a></li>
                <li><a href="<%- hr.urls.route("class/on") %>">on</a></li>
                <li><a href="<%- hr.urls.route("class/once") %>">once</a></li>
                <li><a href="<%- hr.urls.route("class/off") %>">off</a></li>
                <li><a href="<%- hr.urls.route("class/trigger") %>">trigger</a></li>
                <li><a href="<%- hr.urls.route("class/trigger") %>">triggerOnly</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("model") %>"><h3>Model</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("model/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("model/initialize") %>">initialize</a></li>
                <li><a href="<%- hr.urls.route("model/get") %>">get</a></li>
                <li><a href="<%- hr.urls.route("model/set") %>">set</a></li>
                <li><a href="<%- hr.urls.route("model/has") %>">has</a></li>
                <li><a href="<%- hr.urls.route("model/clear") %>">clear</a></li>
                <li><a href="<%- hr.urls.route("model/tojson") %>">toJSON</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("collection") %>"><h3>Collection</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("collection/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("collection/model") %>">model</a></li>
                <li><a href="<%- hr.urls.route("collection/initialize") %>">initialize</a></li>
                <li><a href="<%- hr.urls.route("collection/add") %>">add</a></li>
                <li><a href="<%- hr.urls.route("collection/remove") %>">remove</a></li>
                <li><a href="<%- hr.urls.route("collection/reset") %>">reset</a></li>
                <li><a href="<%- hr.urls.route("collection/tojson") %>">toJSON</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("requests") %>"><h3>Requests</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("requests/class") %>">class</a></li>
                <li><a href="<%- hr.urls.route("requests/get") %>">get</a></li>
                <li><a href="<%- hr.urls.route("requests/post") %>">post</a></li>
                <li><a href="<%- hr.urls.route("requests/getJSON") %>">getJSON</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("logger") %>"><h3>Logger</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("logger/addNamespace") %>">addNamespace</a></li>
                <li><a href="<%- hr.urls.route("logger/logging") %>">logging</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("router") %>"><h3>Router</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("router/extend") %>">extend</a></li>
                <li><a href="<%- hr.urls.route("router/route") %>">route</a></li>
                <li><a href="<%- hr.urls.route("router/navigate") %>">navigate</a></li>
                <li><a href="<%- hr.urls.route("router/start") %>">start</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("urls") %>"><h3>Urls</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("urls/base") %>">base</a></li>
                <li><a href="<%- hr.urls.route("urls/static") %>">static</a></li>
                <li><a href="<%- hr.urls.route("urls/route") %>">route</a></li>
                <li><a href="<%- hr.urls.route("urls/rules") %>">extendRules</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("i18n") %>"><h3>i18n</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("i18n/loadLocale") %>">loadLocale</a></li>
                <li><a href="<%- hr.urls.route("i18n/translate") %>">translate</a></li>
                <li><a href="<%- hr.urls.route("i18n/template") %>">template</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("storage") %>"><h3>Storage</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("storage/get") %>">get</a></li>
                <li><a href="<%- hr.urls.route("storage/set") %>">set</a></li>
                <li><a href="<%- hr.urls.route("storage/remove") %>">remove</a></li>
                <li><a href="<%- hr.urls.route("storage/clear") %>">clear</a></li>
                <li><a href="<%- hr.urls.route("storage/usedSpace") %>">usedSpace</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("cache") %>"><h3>Cache</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("cache/get") %>">get</a></li>
                <li><a href="<%- hr.urls.route("cache/set") %>">set</a></li>
                <li><a href="<%- hr.urls.route("cache/remove") %>">remove</a></li>
                <li><a href="<%- hr.urls.route("cache/clear") %>">clear</a></li>
                <li><a href="<%- hr.urls.route("cache/namespace") %>">namespace</a></li>
            </ul>
        </div>
        <div class="menu">
            <a href="<%- hr.urls.route("resources") %>"><h3>Resources</h3></a>
            <ul>
                <li><a href="<%- hr.urls.route("resources/load") %>">load</a></li>
                <li><a href="<%- hr.urls.route("resources/addNamespace") %>">addNamespace</a></li>
                <li><a href="<%- hr.urls.route("resources/addLoader") %>">addLoader</a></li>
            </ul>
        </div>
    </section>
</div>