<div class="page">
    <%= view.component("template", {template: "header.html"}, "header") %>
    <div class="content">
        <section class="intro">
            <article>
                <p class="title">Build large client-side application in a structured way.</p>
                <p>Yapp.js gives structure to client-side web application by bringing a complete build system
                    with a a rich API similar in the base similar to Backbone.js.</p>
                <p>yapp.js is an open-source component of <a href="https://friendco.de">FriendCode</a>.</p>
                <p>Current version is <b><%- yapp.configs.version %></b></p>
                <p>
                    <%= view.component("counter", {
                        prefix: "This project started ",
                        suffix: " ago.",
                        from: new Date(2013, 4, 30 , 10, 0, 0, 0)
                    }) %>
                </p>
            </article>
        </section>

        <section id="build">
            <h2><a href="<%- yapp.urls.route("build") %>">Build system</a></h2>
            <article id="build/structure">
                <h3>Real structure for client-side application</h3>
                <p>yapp.js as been build to bring a real structure to client-side application code.</p>
                <%= view.component("code", {code: "build/structure.txt"}) %>
            </article>
            <article id="build/application">
                <h3>Defining an application</h3>
                <p>An application in yapp.js need a real base structure</p>
                <%= view.component("code", {code: "build/build.js"}) %>
                <p>Here is a list of all the differents options for build process :</p>
                <%= view.component("code", {code: "build/options.js"}) %>
            </article>
            <article id="build/module">
                <h3>Modularity</h3>
                <p>Yapp.js uses <a href="http://requirejs.org/">require.js</a> as module loader.</p>
                <%= view.component("code", {code: "build/module.js"}) %>
            </article>
        </section>

        <section id="application">
            <h2><a href="<%- yapp.urls.route("application") %>">Application</a></h2>
            <p>The module <b>Application</b> represent the base for your application, it uses to describe the main entry point of your application and its configurations.</p>
            <p>The class <b>Application</b> inherit from <a href="<%- yapp.urls.route("views") %>"><code>yapp.View</code></a>.</p>

            <article id="application/extend">
                <h3>extend <code>yapp.Application.extend(properties, [classProperties])</code></h3>
                <p>To create an <b>Application</b> class of your own, <a href="<%- yapp.urls.route("class/extend") %>">extend</a> <code>yapp.Application</code>, providing instance properties, as well as optional <b>classProperties</b> to be attached directly to the application's constructor function.</p>
                <%= view.component("code", {code: "application/extend.js"}) %>
            </article>

            <article id="application/run">
                <h3>run <code>application.run()</code></h3>
                <p>After extending the <code>yapp.Application</code> class, you need to start your new application.</p>
                <%= view.component("code", {code: "application/run.js"}) %>
            </article>
        </section>

        <section id="view">
            <h2><a href="<%- yapp.urls.route("view") %>">View</a></h2>
            <article id="view/extend">
                <h3>extend <code>yapp.View.extend(properties, [classProperties])</code></h3>
                <p>The first thing who have to do for creating a new view is extending the basic view class.</p>
                <%= view.component("code", {code: "view/extend.js"}) %>
            </article>
            <article id="view/template">
                <h3>template</h3>
                <p>Views in yapp.js can easily uses templates by defining property <code>template</code> with the template name and uses <code>templateContext</code> to return the variables for the template.</p>
                <%= view.component("code", {code: "view/template.js"}) %>
                <p><code>template</code> name could alse be given by a function, for example :</p>
                <%= view.component("code", {code: "view/template_function.js"}) %>
            </article>
        </section>

        <section id="template">
            <h2><a href="<%- yapp.urls.route("template") %>">Templating</a></h2>
            <article id="template/syntax">
                <h3>Syntax</h3>
                <p>yapp.js allow view to manage in a simple way templates.</p>
                <p>Template can interpolate variables, using <code>&lt;%= … %&gt;</code>, as well as execute arbitrary JavaScript code, with <code>&lt;% … %&gt;</code>. If you wish to interpolate a value, and have it be HTML-escaped, use <code>&lt;%- … %&gt;</code>.</p>
                <%= view.component("code", {code: "template/syntax.html"}) %>
            </article>
            <article id="template/components">
                <h3>Components</h3>
                <p>Components in <b>template</b> is a great way to manage child views.</p>
                <p>Template components have to been registrated using <a href="<%- yapp.urls.route("view/registerComponent") %>"><code>yapp.View.Template.registerComponent</code></a></p>
                <%= view.component("code", {code: "template/components.html"}) %>
                <p>You can after that easily access to components views in your view :</p>
                <%= view.component("code", {code: "template/components.js"}) %>
            </article>
        </section>

        <section id="class">
            <h2><a href="<%- yapp.urls.route("class") %>">Class</a></h2>
            <p>The module <b>class</b> is the base for all the modules in yapp.js, giving the object the ability to bind and trigger custom named events. 
            Events do not have to be declared before they are bound, and may take passed arguments.</p>
            <article id="class/extend">
                <h3>extend <code>yapp.Class.extend(properties, [classProperties])</code></h3>
                <p>To create a <b>class</b> of your own, you extend <code>yapp.Class</code> and provide instance <b>properties</b>, as well as optional <b>classProperties</b> to be attached directly to the constructor function.</^>

                <p><b>extend</b> correctly sets up the prototype chain, so subclasses created with <b>extend</b> can be further extended and subclassed as far as you like.</p>
                <%= view.component("code", {code: "class/extend.js"}) %>
            </article>
            <article id="class/initialize">
                <h3>initialize <code>new yapp.Class([options])</code></h3>
                <p><b>initialize</b> represents the constructor of the class, object passed to <b>initialize</b> is merged with <a href="<%- yapp.urls.route("class/defaults") %>"><code>defaults</code></a> into <code>options</code>.</p>
                <%= view.component("code", {code: "class/initialize.js", run: true}) %>
            </article>
            <article id="class/defaults">
                <h3>defaults <code>yapp.Class.defaults</code></h3>
                <p><b>defaults</b> let you define the defaults properties of the objects. Properties of the objects are stored into <code>options</code>.</p>
                <%= view.component("code", {code: "class/defaults.js", run: true}) %>
            </article>
            <article id="class/on">
                <h3>on <code>object.on(event, callback, [context])</code></h3>
                <p>Bind a callback function to an object. The callback will be invoked whenever the <b>event</b> is fired. If you have a large number of different events on a page, the convention is to use colons to namespace them: <code>"poll:start"</code>, or <code>"change:selection"</code>. The event string may also be a space-delimited list of several events...</p>
                <%= view.component("code", {code: "class/on.js"}) %>
                <p>To supply a context value for this when the callback is invoked, pass the optional third argument: <code>object.on('change', this.render, this)</code></p>
                <p>Callbacks bound to the special <code>"all"</code> event will be triggered when any event occurs, and are passed the name of the event as the first argument. For example, to proxy all events from one object to another:</p>
                <%= view.component("code", {code: "class/on_all.js"}) %>
                <p>All event methods also support an event map syntax, as an alternative to positional arguments:</p>
                <%= view.component("code", {code: "class/on_map.js"}) %>
                <p>yapp.js alse supports hierarchical events:</p>
                <%= view.component("code", {code: "class/on_sub.js", run: true}) %>
            </article>
            <article id="class/off">
                <h3>off <code>object.off([event], [callback], [context])</code></h3>
                <p>Remove a previously-bound <b>callback</b> function from an object. If no <b>context</b> is specified, all of the versions of the callback with different contexts will be removed. If no callback is specified, all callbacks for the <b>event</b> will be removed. If no event is specified, callbacks for all events will be removed.</p>
                <%= view.component("code", {code: "class/off.js"}) %>
            </article>
            <article id="class/trigger">
                <h3>trigger <code>object.trigger(event, [*args])</code></h3>
                <p>Trigger callbacks for the given <b>event</b>, or space-delimited list of events. Subsequent arguments to <b>trigger</b> will be passed along to the event callbacks.</p>
            </article>
            <article id="class/triggerOnly">
                <h3>triggerOnly <code>object.triggerOnly(event, [*args])</code></h3>
                <p>Trigger callbacks for the given <b>event</b>, or space-delimited list of events. Subsequent arguments to <b>trigger</b> will be passed along to the event callbacks. But don't trigger parents events.</p>
            </article>
            <article id="class/once">
                <h3>once <code>object.once(event, callback, [context])</code></h3>
                <p>Just like <a href="<%- yapp.urls.route("class/on") %>">on</a>, but causes the bound callback to only fire once before being removed. Handy for saying "the next time that X happens, do this".</p>
            </article>
        </section>

        <section id="requests">
            <h2><a href="<%- yapp.urls.route("requests") %>">Requests</a></h2>
            <p>The class <b>Requests</b> let you create simple or complex http requests in a easy way.</p>

            <article id="requests/class">
                <h3>Requests <code>new yapp.Requests(options)</code></h3>
                <p>The class <b>Requests</b> is very simple to use.</p>
                <%= view.component("code", {code: "requests/class.js", run: true}) %>
            </article>

            <p>The <b>Requests</b> class get some usefull shortcuts class methods such as <a href="<%- yapp.urls.route("requests/get") %>">get</a> or <a href="<%- yapp.urls.route("requests/post") %>">post</a></p>

            <article id="requests/get">
                <h3>get <code>yapp.Requests.get(url, arguments, options)</code></h3>
                <p>Easy way to do a <b>get</b> requests with some query arguments, it returns a <a href="<%- yapp.urls.route("deferrer") %>"><code>Deferrer</code></a> object.</p>
                <%= view.component("code", {code: "requests/get.js", run: true}) %>
            </article>

            <article id="requests/post">
                <h3>post <code>yapp.Requests.post(url, arguments, options)</code></h3>
                <p>Easy way to do a <b>post</b> requests with some body arguments, it returns a <a href="<%- yapp.urls.route("deferrer") %>"><code>Deferrer</code></a> object.</p>
                <%= view.component("code", {code: "requests/post.js", run: true}) %>
            </article>

            <article id="requests/getJSON">
                <h3>getJSON <code>yapp.Requests.getJSON(url, arguments, options)</code></h3>
                <p>Like <b>get</b> but use JSONP callback to do cross-domain requests.</p>
                <%= view.component("code", {code: "requests/getjson.js", run: true}) %>
            </article>
        </section>

        <section id="logger">
            <h2><a href="<%- yapp.urls.route("logger") %>">Logger</a></h2>
            <p>The class <b>Logger</b> let you manage different log in a standart way with a global configuration.</p>

            <article id="logger/addNamespace">
                <h3>Logger.addNamespace <code>yapp.Logger.addNamespace(namespace, [handler])</code></h3>
                <p><b>Logger</b> let you create logging object linked to a namespace and a handler.</p>
                <p>The <b>namespace</b> is a <em>string</em> defining the context of messages to this logger.</p>
                <p>The <b>handler</b> is an object with the following method : <code>"log", "debug", "warn", "error"</code></p>
                <%= view.component("code", {code: "logger/namespace.js", run: true}) %>
            </article>

            <article id="logger/logging">
                <h3>Logger.logging <code>yapp.Logger.logging</code></h3>
                <p><b>logging</b> is a logger instance linked to the namespace <code>"base"</code>.</p>
                <p>Log messages are visible in the <b>console</b> of your navigator</p>
                <%= view.component("code", {code: "logger/logging.js", run: true}) %>
            </article>
        </section>

        <section id="urls">
            <h2><a href="<%- yapp.urls.route("urls") %>">Urls</a></h2>
            <p>The module <b>Urls</b> gives access to methods to simply calculate application urls.</p>

            <article id="urls/base">
                <h3>base <code>yapp.urls.route(*args)</code></h3>
                <p>Return complete url in the application using the configuration variable <code>baseUrl</code>.</p>
                <%= view.component("code", {code: "urls/base.js", run: true}) %>
            </article>

            <article id="urls/static">
                <h3>static <code>yapp.Urls.static(*args)</code></h3>
                <p>Return complete url in the application for a content in the static directory using the configuration variable <code>staticDirectory</code>.</p>
                <%= view.component("code", {code: "urls/static.js", run: true}) %>
            </article>

            <article id="urls/route">
                <h3>route <code>yapp.Urls.route(route, args)</code></h3>
                <p>Return complete url in the application for a route and the route arguments using the configuration variable <code>router.mode</code>.</p>
                <%= view.component("code", {code: "urls/route.js", run: true}) %>
            </article>

            <article id="urls/template">
                <h3>In templates</h3>
                <p>Module <b>Urls</b> is accessible in templates using <code>yapp.urls</code>.</p>
                <%= view.component("code", {code: "urls/template.html"}) %>
            </article>
        </section>

        <section id="storage">
            <h2><a href="<%- yapp.urls.route("storage") %>">Storage</a></h2>
            <p>The module <b>Storage</b> is a simple interface to the navigator <code>localStorage</code>.</p>
            <p>It supports storage of complex object and not just string.</p>
            <p>For gestion of cached values or ressources, use instead module <a href="<%- yapp.urls.route("cache") %>"><b>Cache</b></a>.</p>

            <article id="storage/get">
                <h3>get <code>yapp.Storage.get(key)</code></h3>
                <p>Return a value stored in the <code>localStorage</code>.</p>
            </article>

            <article id="storage/set">
                <h3>set <code>yapp.Storage.set(key, value)</code></h3>
                <p>Define a value to store in the <code>localStorage</code>.</p>
            </article>

            <article id="storage/remove">
                <h3>remove <code>yapp.Storage.remove(key)</code></h3>
                <p>Remove a value from <code>localStorage</code>.</p>
            </article>

            <article id="storage/clear">
                <h3>clear <code>yapp.Storage.clear()</code></h3>
                <p>Clear all the values stored in the <code>localStorage</code>.</p>
            </article>

            <article id="storage/usedSpace">
                <h3>usedSpace <code>yapp.Storage.usedSpace()</code></h3>
                <p>Return the number of value stored in <code>localStorage</code>.</p>
            </article>
        </section>

        <section id="cache">
            <h2><a href="<%- yapp.urls.route("cache") %>">Cache</a></h2>
            <p>The module <b>Cache</b> use the module <a href="<%- yapp.urls.route("storage") %>"><b>Storage</b></a> to storage content for a timelapse.</p>
            <p>The good way to use <b>caching</b> is to use <a href="<%- yapp.urls.route("cache/namespace") %>"><b>Cache.namespace</b></a>.</p>

            <p><b>Cache</b> can store any json-serializable <b>value</b> to any json-serializable <b>key</b>. Cache stored <b>key</b> is relative to the application build revision.</p>

            <%= view.component("code", {code: "cache/key.js"}) %>

            <article id="cache/get">
                <h3>get <code>yapp.Cache.get(namespace, key)</code></h3>
                <p>Return a value stored in the <code>Storage</code>.</p>
            </article>

            <article id="cache/set">
                <h3>set <code>yapp.Cache.set(namespace, key, value, expiration)</code></h3>
                <p>Define a value to store in the <code>Storage</code> for a timelapse.</p>
                <p><b>expiration</b> define the timelapse in seconds, if <b>expiration</b> <&lsaquo; 0 then value don't have a timelife.</p>
            </article>

            <article id="cache/remove">
                <h3>remove <code>yapp.Cache.remove(namespace, key)</code></h3>
                <p>Remove a value from <code>Storage</code>.</p>
            </article>

            <article id="cache/clear">
                <h3>clear <code>yapp.Cache.clear()</code></h3>
                <p>Clear the all cache without clearing the all <code>Storage</code>.</p>
            </article>

            <article id="cache/namespace">
                <h3>namespace <code>yapp.Cache.namespace(namespace)</code></h3>
                <p>Return a cache interface centered arround a namespace.</p>
                <%= view.component("code", {code: "cache/namespace.js", run: true}) %>
            </article>
        </section>

        <section id="ressources">
            <h2><a href="<%- yapp.urls.route("ressources") %>">Ressources</a></h2>
            <p>The module <b>Ressources</b> let you load ressources (such as templates, ...) in a standart way.</p>

            <article id="ressources/load">
                <h3>load <code>yapp.Ressources.load(namespace, ressource)</code></h3>
                <p>Load a ressource in a namespace and return a <a href="<%- yapp.urls.route("deferred") %>"><code>Deferred</code></a>.</p>
                <%= view.component("code", {code: "ressources/load.js", run: true}) %>
            </article>

            <article id="ressources/addNamespace">
                <h3>addNamespace <code>yapp.Ressources.addNamespace(namespace, options)</code></h3>
                <p>Add a namespaces for ressources with options for loading.</p>
                <%= view.component("code", {code: "ressources/namespace.js", run: true}) %>
            </article>

            <article id="ressources/addLoader">
                <h3>addLoader <code>yapp.Ressources.addLoader(name, handler)</code></h3>
                <p>Add a new loader for loading ressources.</p>
                <p>Base loader are :
                    <ul>
                        <li><b>http</b> : Load ressources using http requests and caching</li>
                        <li><b>require</b> : Load ressources from application source code using require</li>
                    </ul>
                </p>
                <%= view.component("code", {code: "ressources/loader.js", run: true}) %>
            </article>
        </section>
    </div>
</div>